body{
    margin: 0 auto;
}


div{
    border: 1px black solid;
    text-align: center;
    background-color: orange ;

}
ul{
    text-align: center;
}

li{
    font-size: 2rem;
    text-align: center;
    list-style: none;
    display: inline-block;
}

a{
    border-radius: 20px;
    padding: 0 10px;
    border:2px black solid;
    margin:2px auto;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    background-color: chartreuse;
}

.box1{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 1rem;
    background-color: aqua;
}

.box2{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 1rem;
    background-color: chartreuse;
}

.box3{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 1rem;
    background-color: red;
}

.box4{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 1rem;
    background-color: yellow;
}