div{
    width: 400px;
    height: 200px;
    border: 40px dashed red;
    margin: 20px auto;
    background-image: url("../Test1/img/koala.jpg ");
    background-size: cover;
    background-repeat: no-repeat;
}

.divTwo{
    box-sizing: border-box;
}